<div class="hero-banner">
  <img src="../images/jd.png" alt="jean dupont" />
  <div class="banner-text">
    <div class="banner-greeting">
      Hi ! <span role="img">👋</span> I'm Jean Dupont <br />
      and i'm front-end developer !
    </div>
    {{ site.about | markdownify }}
  </div>
</div>
