<nav class="navbar">
  <a href="/" class="navbar-brand">Jean Dupont</a>
  <ul class="navbar-menu">
    <li class="navbar-items"><a class="link" href="/#skills">Skills</a></li>
    <li class="navbar-items">
      <a class="link" href="/#portfolio">Portfolio</a>
    </li>
    <li class="navbar-items"><a href="/#hire-me">Hire me</a></li>
    <li class="navbar-items">
      <i class="icon-github"></i>
    </li>
    <li class="navbar-items">
      <i class="icon-linkedin"></i>
    </li>
  </ul>

  <button class="navbar-burger"><i class="icon-menu"></i></button>
</nav>

<aside class="sidenav">
  <a href="/" class="navbar-brand">Jean Dupont</a>
  <ul class="sidenav-menu">
    <li class="sidenav-items"><a href="/#skills">Skills</a></li>
    <li class="sidenav-items"><a href="/#portfolio">Portfolio</a></li>
    <li class="sidenav-items"><a href="/#hire-me">Hire me</a></li>
  </ul>

  <div class="sidenav-footer">
    <a class="sidenav-footer-items" href="#github">
      <i class="icon-github"></i>
    </a>
    <a class="sidenav-footer-items" href="#linkedin">
      <i class="icon-linkedin"></i>
    </a>
  </div>
</aside>
