.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 10;
}

.navbar-brand,
.navbar-menu {
  margin-top: 20px;
}

.navbar-brand {
  margin-left: 5%;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 800;
}

.navbar-menu {
  display: none;
}

.navbar-burger {
  background: none;
  border: none;
  color: black;
  margin-right: 5%;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navbar-brand {
    margin-left: 10%;
  }

  .navbar-burger {
    margin-right: 10%;
  }
}

@media screen and (min-width: 992px) {
  .navbar-burger {
    display: none;
  }

  .navbar-menu {
    margin: 0;
    margin-right: 10%;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .navbar-items {
    margin-left: 40px;
  }

  .navbar-items a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #646464;
  }

  .navbar-items .icon-linkedin,
  .navbar-items .icon-github {
    font-size: 24px;
    color: black;
  }

  .navbar-items:nth-child(5) {
    margin-left: 20px;
  }

  .navbar-items:nth-child(3) a {
    font-weight: 600;
    color: black;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1366px) {
  .navbar-menu {
    margin-right: 15%;
  }

  .navbar-brand {
    margin-left: 15%;
  }
}

@media screen and (min-width: 1600px) {
  .navbar-menu {
    margin-right: 20%;
  }

  .navbar-brand {
    margin-left: 20%;
  }
}
