<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | Jean Dupont</title>
    <link rel="preload" as="style" href="../styles/main.css" />
    <link rel="preload" as="script" href="../scripts/index.js" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script src="../scripts/index.js" defer></script>
  </head>
  <body>
    {% include navbar.liquid %}

    <main>{{ content }}</main>

    {% include footer.liquid %}
  </body>
</html>
